VITE_SUPABASE_URL=https://tidtmmihgkniwrwrhmno.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpZHRtbWloZ2tuaXdyd3JobW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxODQzNDcsImV4cCI6MjA5Mzc2MDM0N30.5eHQhKtKY3ggJYyFkHWKr5CyyWLHAa12SrH8ycbKTYM
VITE_API_URL=http://localhost:8000
