VITE_SUPABASE_URL=https://uyzkrlefpapgfzsxhurb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5emtybGVmcGFwZ2Z6c3hodXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0OTYzMTgsImV4cCI6MjA5MjA3MjMxOH0.aOdWcsRvo0H2LnmUERUxEffn21r6yzqgXXU6t-HQt2o
VITE_API_URL=http://localhost:8000
